@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #212529;
  --primary-text-color: #fffcf2;
  --button-bg-color: #343a40;
  --light-color: #495057;
  --another-light-color: #adb5bd;

  --button-bg-color2: #dda15e;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
